@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@600&family=Fira+Sans&display=swap');

:root {
    --header-height: 60px;
    --footer-height: 80px;
}

* {
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background: url("../img/99877588_p0.jpg") no-repeat 55% 15% fixed;
}

.header {
    width: 100%;
    height: var(--header-height);
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
}

.header h1 {
    font-size: 36px;
    font-family: 'Albert Sans', sans-serif;
    text-align: center;
    line-height: var(--header-height);
}

footer {
    display: table;
    width: 100%;
    height: var(--footer-height);
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    font-size: 16px;
    font-family: 'Fira Sans', sans-serif;
}

footer p {
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle; 
    text-align: center; 
}

.content {
    width: 100%;
    padding: 15px;
    height: calc(100vh - var(--header-height) - var(--footer-height));
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 22px;
    font-family: 'Fira Sans', sans-serif;
}

.content h1 {
    font-size: 72px;
    font-family: 'Albert Sans', sans-serif;
    padding-bottom: 15px;
}

.content p {
    padding-bottom: 15px;
}

.content a {
    text-decoration: none;
}

.content .download {
    position: relative;
    display: inline-block;
    background-color: rgba(30,30,30,0.8);
    --padding: 16px;
    padding: var(--padding);
    margin-right: var(--padding);
}

.content .download .github {
    position: relative;
    bottom: -2px;
    margin-left: 4px;
    width: 24px;
}

.content .download .gitlab {
    position: relative;
    bottom: -4px;
    width: 24px;
}

.content .long-text {
    overflow-wrap: break-word;
}

.content ul {
    list-style-position: inside;
}

.content li {
    margin: 5px;
}

.content code {
    background-color: rgba(30,30,30,0.6);
    padding: 0px 2.5px;
}